spring:
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dbgirl
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: create
      dialect: MySQLDialect
    show-sql: true