<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Struts Blank</display-name>

	<!-- Struts Base define start -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- Struts Base define end -->

	<!-- Restricts access to pure JSP files - access available only via Struts 
		action start -->
	<security-constraint>
		<display-name>No direct JSP access</display-name>
		<web-resource-collection>
			<web-resource-name>No-JSP</web-resource-name>
			<url-pattern>*.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>no-users</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<description>Don't assign users to this role</description>
		<role-name>no-users</role-name>
	</security-role>
	<!-- Restricts access to pure JSP files - access available only via Struts 
		action end -->


	<!-- 如果想使用JSP标签 Using JSP tags To use JSP tags that are not part of Struts 
		you have to: 1. Add JspSupportSerlvet to web.xml 2. TLD 文件头部添加struts-tags.tld 
		<#assign s=JspTaglibs["/WEB-INF/struts-tags.tld"] /> -->
	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>







</web-app>
