<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<bean id="iUserMySQLImpl" class="com.xingyun.interfaces.impl.IUserMySQLImpl"></bean>
<bean id="iUserOracleImpl" class="com.xingyun.interfaces.impl.IUserOracleImpl"></bean> 
</beans>